* {
    box-sizing: border-box;
}


/* Style the search field */

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    padding-left: 5px;
}


/* Style the submit button */

form.example button {
    float: right;
    width: 15%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}


/* Clear floats */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

p {
    font-weight: bold;
    color: grey;
}

.bigContainer {
    border: 1px solid lightgray;
}

#weatherTitle {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 50px;
}

.myHeader {
    background-color: black;
}

.leftHandDiv {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
    height: relative;
}

.userButtonsDiv {
    margin: 25px 10px 0px 0px;
    background-color: #fafeff;
    text-align: center;
}

.myRow {
    margin: 0px;
    padding: 0px;
}

.myCol {
    margin: 0px;
    padding: 0px;
    border-right: 1px solid lightgrey;
    background-color: #fafeff;
}

.rightCol {
    background-color: white;
}

.searchField {
    padding: 10px;
}

.leftSide {
    border: none;
}

.card {
    border: none;
    background-color: #2196F3;
    color: white;
    margin: 25px 25px 0px 0px;
    ;
    width: relative;
    display: none;
    text-align: center;
    padding: 5px;
}

.city-btn {
    padding: 10px;
    width: 100%;
    background-color: #0b7dda;
    color: white;
    text-align: center;
    border: none;
}